<%= form_for(ju) do |f| %>
  <% if ju.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ju.errors.count, "error") %> prohibited this ju from being saved:</h2>

      <ul>
      <% ju.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
